<h1>Ponds</h1>

<%= image_tag "pond.jpg", :title => 'Frog', :width => 600 %>
<ol>
<% @ponds.each do |pond| %>
  <li><%= link_to pond.name, pond%></li>
<% end %>
</ol>

<p><%= link_to 'Create a new pond', new_pond_path %></p>